---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a> | <a href="/blog">My Blog</a> | <a href="/about">About</a>
		<h1>Posts About Books</h1>
        <ul>
            <li><b><a href="/posts/post-1">The Weight of Darkness</a></b></li>
            <li><b><a href="/posts/post-2">Down The Drain</a></b></li>
            <li><b><a href="/posts/post-3">GEODE</a></b></li>
			<li><b><a href="/posts/post-4">Where Smoke Walks, Fire Follows</a></b></li>
        </ul>

	</body>
</html>
