---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a> | <a href="/blog">My Blog</a> | <a href="/about">About</a>
		<h1>Posts About Books</h1>
		<h2><i>The Weight of Darkness</i></h2>
        <p>Abigail and Martin Beckett grew up with more than just silver spoons. They had silver everything. Their parents did own the silver mines, after all. But when the mines starter producing more than just silver, things took a turn for the bizarre, and terrifying.</p>
	</body>
</html>
